
body{
text-align:center;
font-size:2rem;
margin-bottom:60px;
background-color:white;

}
    section{
    background-color: grey  ;
    color:white;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;

    margin:0;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    border-radius: 5px;

}
h1:hover{
    transform: scale(1.2);
    transition: 2s;
    margin: 0%; 
    padding: 0%;
    background-color: black;
    color:cornflowerblue;
    border-radius: 5px;
    border: 3px solid white ;
    fontzize: 30px;
}
    hover
.suii{
    display:inline-block;
    background:black;
    color:white;
    padding:8px 16px;
    border-radius:20px;
    font-weight:bold;
    margin-top:10px;
    transition:0.3s;
    max-width: 40%;
}
p{
    color: azure;
}

    .link img:hover{
    transform: scale(1.1);
    transition: 1s;
}   
 
h4{
    color: #C77DFF;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}


.card{
    background-color: white;
padding:40px 30px;
border-radius:20px;
text-align:center;
border:1px solid white;

}
.texto{
    font-size: 20px ;
}
h2{
    color: whitesmoke;
}

.card h3{
margin-bottom:15px;
font-size:1.3rem;
}


.price{
font-size:2rem;
margin:20px 0;
background:linear-gradient(90deg,#6EEBFF,#C77DFF);
-webkit-background-clip:text;
color:transparent;
font-weight:700;
}

h2{
    color:dodgerblue
}
.card ul{
list-style:none;
color:#bbb;
margin-bottom:25px;
line-height:1.8;
}


footer{
padding:40px 8%;
text-align:center;
color:#666;
border-top:1px solid #1a1a1a;
}

    @media (max-width:768px) {
        .header{
            flex-direction:column;
            gap: 12px;
        }
        h1{
            font-size:32px;

        }
        .btn{
            width:100;
    
        }

        section{
            widht:90%;
            padding:15;
        }
    }
